{% if terms %}
      <table class="table table-striped">
        <tr>
        <th>Term</th>
        <th>Date Agreed</th>
        <th>Answer</th>
      </tr>
      {% for consent in consents %}
        <tr>
          <td>{{ consent.term.content }}</td>
          <td>{{ consent.created_at|default:"—" }}</td>
          <td>{{ consent.term_option.content|default:"—" }}</td>
          <td>
            <a href="{% url 'consent_edit' t.pk %}" title="Edit {{ t }}"><i class="fas fa-edit"></i></a>
            <form class="amy-form-inline" action="{% url 'term_delete' t.id %}?next={{ request.get_full_path|urlencode }}#tasks" onsubmit='return confirm("Are you sure you wish to remove \"{{ t }}\" from {{ t.event.slug }}?")' method="POST">
              {% csrf_token %}
              <button type="submit" class="no-btn"><i class="fas fa-times"></i></button>
            </form>
          </td>
        </tr>
      {% endfor %}
      </table>
    {% else %}
      <p>No Terms.</p>
    {% endif %}